<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- datasource -->

    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datasource@0.1.0"></script>

    <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>

    <script src="http://d3js.org/d3.v3.min.js"></script>

    <title>Course Recommendation | Dashboard</title>
</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">Udemy Course Recommendation System</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/dashboard">Dashboard</a>
                    </li>

                </ul>

            </div>
        </div>
    </nav>
    <div class="row">

        <!-- Number of Subscribers Domain Wise -->

        <div class="col-md-4 col-sm-6">

            <div class="card-body">
                <label for="banana" style="text-align:center;font-size:1.5rem;font-weight: bold;">Number of Subscribers
                    Domain Wise</label>
                <div class="chart-container my-3" style="position: relative;">
                    <canvas height="400" width="400" id="chart"></canvas>
                </div>
            </div>


        </div>


        <!-- Number of Courses Level Wise -->
        <div class="col-md-4 col-sm-6">

            <div class="card-body">

                <label for="banana" style="text-align:center;font-size:1.5rem;font-weight: bold;">Number of Courses
                    Level Wise</label>
                <div class="chart-container my-3" style="position: relative;">
                    <canvas height="400" width="400" id="chart2"></canvas>
                </div>
            </div>


        </div>

        <!-- >Number of Subscribers Year Wise-->

        <div class="col-md-4 col-sm-6">



            <div class="card-body">

                <label for="banana" style="text-align:center;font-size:1.5rem;font-weight: bold;">Number of Subscribers
                    Year Wise</label>


                <div class="chart-container my-3" style="position: relative;">
                    <canvas height="200" width="200" id="chart3"></canvas>
                </div>
            </div>


        </div>

        <!--Profit Year Wise-->

        <div class="col-md-4 col-sm-6">

            <div class="card-body">

                <label for="banana" style="text-align:center;font-size:1.5rem;font-weight: bold;">Profit Gained Year
                    Wise</label>
                <div class="chart-container my-3" style="position: relative;">
                    <canvas height="400" width="400" id="chart4"></canvas>
                </div>
            </div>


        </div>

        <!-- Profit Month Wise -->

        <div class="col-md-4 col-sm-6">

            <div class="card-body">

                <label for="banana" style="text-align:center;font-size:1.5rem;font-weight: bold;">Profit Earned Month
                    Wise</label>
                <div class="chart-container my-3" style="position: relative;">
                    <canvas height="400" width="400" id="chart5"></canvas>
                </div>
            </div>


        </div>


        <!--Subscribers Count Month Wise-->


        <div class="col-md-4 col-sm-6">

            <div class="card-body">

                <label for="banana" style="text-align:center;font-size:1.5rem;font-weight: bold;">Subscribers Count
                    Month Wise</label>
                <div class="chart-container my-3" style="position: relative;">
                    <canvas height="400" width="400" id="chart6"></canvas>
                </div>
            </div>



        </div>

        <!--Number of Subscribers enrolled per subject category-->

        <div class="col-md-12">
            <div class="chart-container my-3">
                <label for="banana" style="text-align:center;font-size:1.3rem;font-weight: bold;">Number of Subscribers
                    enrolled per subject category</label>
                <canvas id="chart7"></canvas>
            </div>
        </div>



    </div>

    {%block javascript%}

    <script>

        var value_counts = {{value_counts|safe}};
        var level_counts = {{level_counts|safe}};
        var subjects_per_level = {{subjects_per_level|safe}};

        var subscribers_count_map = {{subscribers_count_map|safe}};

        var year_wise_profit_map = {{ year_wise_profit_map|safe}};

        var profit_month_wise_map = {{ profit_month_wise|safe}};

        var month_wise_sub_map = {{ month_wise_sub|safe}};



        var domain_name = new Array();
        var count_domain = new Array();
        var level_name = new Array();
        var level_count = new Array();

        var level_name_2 = new Array();
        var level_count_2 = new Array();
        var years = new Array();
        var profit_count = new Array();
        var subscribers_count = new Array();

        var months = new Array();
        var profit_month_wise = new Array();
        var subscribers_count_month = new Array();

        // count per domain first chart

        for (const item in value_counts) {
            domain_name.push(item)
            count_domain.push(value_counts[item])
        }

        //Number of Courses Level Wise

        for (const item in level_counts) {
            level_name.push(item)
            level_count.push(level_counts[item])
        }

        // Subjects per level {last chart}
        for (const item in subjects_per_level) {
            level_name_2.push(item)
            level_count_2.push(subjects_per_level[item])
        }

        // YearWise Profit
        for (const item in year_wise_profit_map) {
            years.push(item)
            profit_count.push(year_wise_profit_map[item])
        }

        // YearWise Subscribers Count

        for (const item in subscribers_count_map) {
            subscribers_count.push(subscribers_count_map[item])
        }

        //profit monthwise
        for (const item in profit_month_wise_map) {
            months.push(item)
            profit_month_wise.push(profit_month_wise_map[item])
        }

        //subscribers_count monthwise
        for (const item in month_wise_sub_map) {

            subscribers_count_month.push(month_wise_sub_map[item])
        }





        // Chart1

        var ctx = document.getElementById('chart').getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'doughnut',
            data: {
                labels: domain_name,
                datasets: [{
                    label: domain_name,
                    data: count_domain,
                    backgroundColor: [
                        'rgb(255, 99, 132)',
                        'rgb(75, 192, 192)',
                        'rgb(255, 205, 86)',
                        'rgb(201, 203, 207)',
                        'rgb(54, 162, 235)',
                        'rgba(153, 102, 255)',
                        'rgba(255, 159, 64)',
                        'rgba(250, 157, 60)'
                    ],
                    hoverOffset: 4

                }]
            }
        })



        // Chart2 







































        var ctx = document.getElementById('chart2').getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'doughnut',
            data: {
                labels: level_name,
                datasets: [{
                    label: level_name,
                    data: level_count,
                    backgroundColor: [
                        'rgb(255, 99, 132)',
                        'rgb(75, 192, 192)',
                        'rgb(255, 205, 86)',
                        'rgb(201, 203, 207)',
                        'rgb(54, 162, 235)',
                        'rgba(153, 102, 255)',
                        'rgba(255, 159, 64)',
                        'rgba(250, 157, 60)'
                    ],
                    hoverOffset: 4

                }]
            }
        })


        //Chart 3    

        var ctx = document.getElementById('chart3').getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: years,
                datasets: [{
                    label: "Number of Subscribers",
                    data: subscribers_count,
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 206, 86, 0.2)',
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(153, 102, 255, 0.2)',
                        'rgba(255, 159, 64, 0.2)',
                        'rgba(250, 157, 60, 0.1)',
                        'rgba(250, 157, 62, 0.6)',
                        'rgba(250, 157, 50, 0.4)',
                        'rgba(250, 157, 40, 0.5)',
                        'rgba(250, 157, 10, 0.2)',
                        'rgba(250, 157, 30, 0.3)',
                    ],
                    borderColor: [
                        'rgba(255, 99, 132, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 159, 64, 1)',
                        'rgba(250, 157, 60, 0.1)'
                    ],
                    borderWidth: 2.5
                }]
            }
        })

        //Chart 4

        var ctx = document.getElementById('chart4').getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: years,
                datasets: [{
                    label: "Profit Earned Year Wise",
                    data: profit_count,
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 206, 86, 0.2)',
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(153, 102, 255, 0.2)',
                        'rgba(255, 159, 64, 0.2)',
                        'rgba(250, 157, 60, 0.1)',
                        'rgba(250, 157, 62, 0.6)',
                        'rgba(250, 157, 50, 0.4)',
                        'rgba(250, 157, 40, 0.5)',
                        'rgba(250, 157, 10, 0.2)',
                        'rgba(250, 157, 30, 0.3)',
                    ],
                    borderColor: [
                        'rgba(255, 99, 132, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 159, 64, 1)',
                        'rgba(250, 157, 60, 0.1)'
                    ],
                    borderWidth: 2.5
                }]
            }
        })


        //Chart 5
        var ctx = document.getElementById('chart5').getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: months,
                datasets: [{
                    label: "Profit Earned Month Wise",
                    data: profit_month_wise,
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 206, 86, 0.2)',
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(153, 102, 255, 0.2)',
                        'rgba(255, 159, 64, 0.2)',
                        'rgba(250, 157, 60, 0.1)',
                        'rgba(250, 157, 62, 0.6)',
                        'rgba(250, 157, 50, 0.4)',
                        'rgba(250, 157, 40, 0.5)',
                        'rgba(250, 157, 10, 0.2)',
                        'rgba(250, 157, 30, 0.3)',
                    ],
                    borderColor: [
                        'rgba(255, 99, 132, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 159, 64, 1)',
                        'rgba(250, 157, 60, 0.1)'
                    ],
                    borderWidth: 2.5
                }]
            }
        })


        //Chart 6
        var ctx = document.getElementById('chart6').getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: months,
                datasets: [{
                    label: "Subscriber count Month Wise",
                    data: subscribers_count_month,
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 206, 86, 0.2)',
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(153, 102, 255, 0.2)',
                        'rgba(255, 159, 64, 0.2)',
                        'rgba(250, 157, 60, 0.1)',
                        'rgba(250, 157, 62, 0.6)',
                        'rgba(250, 157, 50, 0.4)',
                        'rgba(250, 157, 40, 0.5)',
                        'rgba(250, 157, 10, 0.2)',
                        'rgba(250, 157, 30, 0.3)',
                    ],
                    borderColor: [
                        'rgba(255, 99, 132, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 159, 64, 1)',
                        'rgba(250, 157, 60, 0.1)'
                    ],
                    borderWidth: 2.5
                }]
            }
        })


        // Chart 7

        var ctx = document.getElementById('chart7').getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: level_name_2,
                datasets: [
                    {
                        label: "Number of Subscribers enrolled per subject category",
                        data: level_count_2,
                        backgroundColor: [
                            'rgba(255, 99, 132, 0.2)',
                            'rgba(54, 162, 235, 0.2)',
                            'rgba(255, 206, 86, 0.2)',
                            'rgba(75, 192, 192, 0.2)',
                            'rgba(153, 102, 255, 0.2)',
                            'rgba(255, 159, 64, 0.2)',
                            'rgba(250, 157, 60, 0.1)',
                            'rgba(250, 157, 62, 0.6)',
                            'rgba(250, 157, 50, 0.4)',
                            'rgba(250, 157, 40, 0.5)',
                            'rgba(250, 157, 10, 0.2)',
                            'rgba(250, 157, 30, 0.3)',
                        ],
                        borderColor: [
                            'rgba(255, 99, 132, 1)',
                            'rgba(54, 162, 235, 1)',
                            'rgba(255, 206, 86, 1)',
                            'rgba(75, 192, 192, 1)',
                            'rgba(153, 102, 255, 1)',
                            'rgba(255, 159, 64, 1)',
                            'rgba(250, 157, 60, 0.1)'
                        ],
                        borderWidth: 2.5
                    },


                ]
            }

        })










    </script>


    {%endblock%}


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>